:root{
    --primary-color: while;
    --while-color:black;
    --link-color:green;
}
  .movie-detail{
    margin-top: 110px;
    height: 700px;
    width: 100%;
    background-color: var(--primary-color);
  }
  .row{
    margin-left: 5%;
    background-color: var(--primary-color);
    display: flex;
    padding-top: 70px;
  }
  .controller-play{
    margin-left: 5%;
    width: 100%;
    height: 500px;
  }
  .controller-player{
    width: 90%;
    height: 500px;
    border-radius: 4px;
  }
  .body-movie-left{
    width: 30%;
  }
  .body-movie-left a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-movie-right{
    width: 70%;
    padding-right:3% ;
  }
  .body-top{
    font-size: 15px;
    color: var(--while-color);
  }
  .body-top-des{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    
    
  }
  .body-top-des p{
    font-size: 1rem;
  }
  .body-top-des button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: green;
    background-color: while ;
    font-size: 15px;
    border: none;
  }
  .body-top-des button:hover{
    background-color: green;
    color: #fff ;
    border-radius: 4px ;
    transition: all 0.2s ease-in-out;
}
  button:hover{
    cursor: pointer;
  }
  .body-body{
    display: flex;
    color: var(--link-color);
  }
  .body-body-left{
    width: 50%;
  }
  .body-body-left p a{
    color: var(--link-color);
    text-decoration: none;
  }
  .body-body-left p strong{
    color: var(--while-color);
  }
  .body-body-right p strong{
    color: var(--while-color);
  }
  .body-body-right{
    width: 50%;
  }